<!DOCTYPE html>
<html>

<head>
    <script>
        var format = "";
        var clusters = [];
        var namespaces = [];
        var resourceTypes = [];

        const init = () => {
            changeFormat()
            changeCluster()
            changeNamespace()
            changeResourceType()
        };

        const getSelectValues = (select) => {
            var result = [];
            var options = select && select.options;
            var opt;

            for (var i = 0, iLen = options.length; i < iLen; i++) {
                opt = options[i];

                if (opt.selected) {
                    result.push(opt.value || opt.text);
                }
            }
            return result;
        }
        const generateUrls = () => {
            var input = document.getElementById('input_url');
            var output = document.getElementById('output_url');
            var input_d = document.getElementById('input_url_download');
            var output_d = document.getElementById('output_url_download');
            if (input && output && input_d && output_d &&
                format === '' && clusters.length === 0 && namespaces.length === 0 && resourceTypes.length === 0) {
                input.href = "/snapshots/input";
                output.href = "/snapshots/output";
                input_d.href = "/snapshots/input";
                output_d.href = "/snapshots/output";
                return;
            }

            var params = [];
            if (format !== '') {
                params.push("format=" + format);
                input_d.download = "input." + format
                output_d.download = "output." + format
            } else {
                input_d.download = "input.json"
                output_d.download = "output.json"
            }
            if (clusters.length !== 0) {
                params.push("clusters=" + clusters.join("::"));
            }
            if (namespaces.length !== 0) {
                params.push("namespaces=" + namespaces.join("::"));
            }
            if (resourceTypes.length !== 0) {
                params.push("resourceTypes=" + resourceTypes.join("::"));
            }

            input.href = encodeURI("/snapshots/input?" + params.join("&"));
            output.href = encodeURI("/snapshots/output?" + params.join("&"));
            input_d.href = encodeURI("/snapshots/input?" + params.join("&"));
            output_d.href = encodeURI("/snapshots/output?" + params.join("&"));
        }
        const changeFormat = () => {
            var e = document.getElementById("format");
            if (e && e.options) {
                format = e.options[e.selectedIndex].text;
            }
            generateUrls();
        };
        const changeCluster = () => {
            var e = document.getElementById("cluster");
            clusters = getSelectValues(e);
            generateUrls();
        };
        const changeNamespace = () => {
            var e = document.getElementById("namespace");
            namespaces = getSelectValues(e);
            generateUrls();
        };
        const changeResourceType = () => {
            var e = document.getElementById("resourceType");
            resourceTypes = getSelectValues(e);
            generateUrls();
        };
        init()
    </script>
    <title>/debug/pprof/</title>
    <style>
        .profile-name {
            display: inline-block;
            width: 6rem;
        }
    </style>
</head>

<body>
    Things to do now:
    {{range .Profiles}}
    <h2><a href={{.Href}}>{{.Name}}</a></h2>
    <p>
        {{.Desc}}
    </p>
    {{end}}
    <br>
    <br>
    <h2>Snapshot Format & Filters</h2>
    <p>All options apply to both snapshots. Filters are inclusive.</p>
    <br>
    <table>
        <tr>
            <th><label for="format">Choose a
                    format:</label>
            </th>
            <th> <label for="cluster">Choose
                    cluster(s):</label>
            </th>
            <th> <label for="namespace">Choose
                    namspace(s):</label>
            </th>
            <th> <label for="resourceType">Choose
                    resource type(s):</label>
            </th>
        </tr>
        <tr valign="top">
            <td><select name="format" id="format" onchange="changeFormat()">
                    {{range .Formats}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select></td>
            <td><select style="height: 250px" for="format" name="cluster" id="cluster"
                    multiple="multiple" onchange="changeCluster()">
                    {{range .Clusters}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select></td>
            <td><select style="height: 250px" for="format" name="namespace" id="namespace"
                    multiple="multiple" onchange="changeNamespace()">
                    {{range .Namespaces}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select></td>
            <td><select style="height: 250px" for="format" name="resourceType" id="resourceType"
                    multiple="multiple" onchange="changeResourceType()">
                    {{range .ResourceTypes}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select></td>
        </tr>
    </table>
    <h2>Input</h2>
    <a href="/snapshots/input" id="input_url">View</a>
    <a href="/snapshots/input" id="input_url_download" download="input.json">Download</a>
    <h2>Output</h2>
    <a href="/snapshots/output" id="output_url">View</a>
    <a href="/snapshots/output" id="output_url_download" download="output.json">Download</a>
</body>

</html>