name: pull_request

on:
  push:
    branches:
      - 'master'
  pull_request:

jobs:
  gen:
    name: Code Gen
    runs-on: ubuntu-18.04
    steps:
      - name: Set up Go 1.14
        uses: actions/setup-go@v1
        with:
          go-version: 1.14
        id: go
      - name: Install Protoc
        uses: Arduino/actions/setup-protoc@master
        with:
          version: '3.6.1'

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Generate Code
        run: |
          ./ci/check-code-and-docs-gen.sh
  test:
    name: run-all-tests
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go 1.14
        uses: actions/setup-go@v1
        with:
          go-version: 1.14
      # Required for codegen tests
      - name: Install Protoc
        uses: Arduino/actions/setup-protoc@master
        with:
          version: '3.6.1'
      - uses: engineerd/setup-kind@v0.3.0
      - uses: azure/setup-kubectl@v1
        with:
          version: 'v1.18.0'
      - uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Install deps for codegen
        run: |
          make install-deps
      - name: Run tests
        run: |
          go test ./...